.mywork {
    min-height: 100vh;
    background-color: #fff9eb;
    padding: 0 20px;

    &__header {
        font-size: 50px;
        padding: 16px 0;
    }

    &__table {
        display: flex;
        padding: 50px 250px 0;

        @media only screen and (max-width: 940px) {
            padding: 32px 48px;

        }

        &__url {
            color: #5a6ca8 !important;
        }

        >div:first-of-type {
            flex: 0 0 30%;
            max-width: 30%;
            margin-top: 20px;
            text-align: right;
            margin-right: 50px;
        }

        >div:nth-of-type(2) {
            flex: 0 0 70%;
            max-width: 70%;
            margin-top: 20px;
            text-align: left;
        }
    }
}