.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  height: 100%;
  font-family: 'Open Sans', sans-serif;

  @media only screen and (max-width: 400px) {
    width: min-content;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-header {
  background-color: #153f57;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    text-decoration: none;

    div {
      margin-left: 16px;
     a {
        text-decoration: none;
        color: #ffff;
     }
    }
}
.main-nav {
  height: 80px;

  nav {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__item {
    color: #ffff !important;
  }
  div {
    justify-content: center !important;
}
}

.head-text {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 50px;
    color: #153f57;
    animation: showup 7s infinite;
  }
}

@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}