.aboutme {
    height: 70vh;
    width: 100%;
    display: flex;
    padding: 80px;
    align-items: center;
    justify-content: space-around;
    background-color: #fff9eb;

    &__text {
        padding: 0 30px;
        width: 60%;
        text-align: left;
        font-size: 20px;

        @media only screen and (max-width: 400px) {
            width: 100%;
            padding: 0px;
        }

        ul {
            animation: deconstructed1 5s normal;
        }

        @keyframes deconstructed1 {
            0% {
              transform: translateX(-100%);
            }
          }
    }

    &__img {
        img {
            width: 480px;
            height: 640px;
        }
    }

    @media only screen and (max-width: 400px) {
        display: block;
        height: min-content;
    }
}
