$xxsScreenSize: 414px;
$xsScreenSize: 575px;
$smallScreenSize: 767px;
$mediumScreenSize: 991px;
$largeScreenSize: 1199px;
$xlargeScreenSize: 1200px;


.aboutme {
    min-height: 70vh;
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: #fff9eb;

    @media (max-width: $mediumScreenSize) {
        display: block;
        padding: 8px;
    }

    &__text {
        padding: 0 30px;
        width: 60%;
        text-align: left;
        font-size: 20px;

        @media (max-width: $mediumScreenSize) {
            width: 100%;
            padding: 0px;
            font-size: 12px;
        }

        ul {
            animation: deconstructed1 5s normal;
        }

        @keyframes deconstructed1 {
            0% {
              transform: translateX(-100%);
            }
          }
    }

    &__img {
        img {
            width: 480px;
            height: 640px;

            @media (max-width: $smallScreenSize) {
                width: $xxsScreenSize;
                height: 580px;
            }
        }
    }

    @media only screen and (max-width: 400px) {
        display: block;
        height: min-content;
    }
}
