.aboutme {
    height: 70vh;
    width: 100%;
    display: flex;
    padding: 80px;
    align-items: center;
    justify-content: space-around;
    background-color: #fff9eb;

    @media only screen and (max-width: 1400px) {
        height: 100%;
        padding: 0px;
        display: grid;
    }

    &__text {
        padding: 0 30px;
        width: 60%;
        text-align: left;
        font-size: 20px;

        @media only screen and (max-width: 1400px) {
            width: 100%;
            padding: 30px 0;

            ul {
                padding: 0 10px;
            }
        }

        @media only screen and (max-width: 820px) {
            padding: 30px 0;
            width: 100%;
            text-align: center; 
            font-size: 20px;
        }

        ul {
            animation: deconstructed1 5s normal;
        }

        @keyframes deconstructed1 {
            0% {
              transform: translateX(-100%);
            }
          }
    }

    &__img {
        img {
            width: 480px;
            height: 640px;
        }

        @media only screen and (max-width: 820px) {
            img {
                width: 240px;
                height: 320px;
            }
        }
    }

    @media only screen and (max-width: 400px) {
        display: block;
        height: min-content;
    }
}
